#Baner
{
	color:white;
	text-align:center;
	height:370px;
	clear:both;
}
#blok
{
	color:white;
	text-align:center;
	width:200px;
	margin:10px;
	border:solid 1px;
	border-color:black;
	border-radius:10px;
	

}
#blok:hover
{
	border-color:white;
}
#Mecze
{
	width:100%;
	justify-content:center;
	display: flex;
}
#Main
{
	background-color:WhiteSmoke;
	height:50px;
}
#Left
{
	background-color:WhiteSmoke;
	height:230px;
	width:70%;
	float:left;
}
#Right
{
	background-color:WhiteSmoke;
	width:30%;
	height:230px;
	text-align:right;
	float:left;
}
body
{
	font-family:Tahoma;
	background-color:Crimson;
}
h2
{
	text-align:center;
	letter-spacing:7px;
	text-transform:capitalize;
}