#banerPanel
{
    color:white;
    text-align: center;
    height: 330px;
}
#blok
{
    color:white;
    text-align: center;
    width: 170px;
    margin:5px;
    border:1px solid;
    border-color: white;
    border-radius: 15px;
    clear: both;
    
}
#blok:hover
{
    background-color: white;
    color:black;
}
#mainPanel
{
    
    color:white;
}
#leftPanel
{
    background-color: whitesmoke;
    width: 30%;
    text-align: center;
    height: 150px;
    float:left;
}
#rightPanel
{
    background-color: whitesmoke;
    width: 70%;
    height: 150px;
    float:left;
}
body
{
    font-family: Verdana;
    background-color: seagreen;
}
h3
{
    text-align: center;
    letter-spacing: 6px;
    font-variant: small-caps;
}
#scriptPanel
{
    display:flex;
    justify-content: center;
}